.wrapperContent {
  width: 100%;
  min-height: calc(136px - 62px - 35px);
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 0px 0px 4px 4px;
  transition: 250ms;
  // box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);

  &:hover {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  }
  .loader {
    text-align: center;
    vertical-align: middle;
    color: #3c3c3c;
  }
  ul {
    width: 100%;
    height: 100%;
    padding: 9px 16px;
  }
}
