li {
  width: 100%;
  display: flex;
  gap: 14px;
  transition: all 250ms;
  margin: 5px 0;

  .imgSize {
    width: 54px;
    height: 54px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      cursor: pointer;
    }
  }
  .titleAndDomain {
    padding: 11px 0;

    .title {
      font-size: 14px;
      line-height: 16px;
      cursor: pointer;
    }
    .domain {
      font-size: 12px;
      line-height: 14px;
      color: #9f9f9f;
      margin-top: 4px;
      cursor: pointer;
    }
  }
  
}
